* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#map {
    height: 400px;
    width: 100%;
}

body {
    margin: 2% auto;
    background: linear-gradient(to right, #373b44, #4286f4);
    color: white;
}

#header {
    background: linear-gradient(to right, #4286f4, #373b44);
}

h4 {
    margin-left: 1rem;
}

#map iframe {
    width: 90%;
    height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}